import { Injectable } from '@nestjs/common';
{{#models}}
import { {{classname}} } from './{{classname}}';
{{/models}}

@Injectable()
export class {{baseName}} {
{{#operations}}
{{#operation}}
    {{operationId}}(
        {{#allParams}}
        {{paramName}}: {{dataType}}{{#hasMore}},{{/hasMore}}
        {{/allParams}}
    ): Promise<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}> {
        // Business Logics
        return {
            // Return Data
        };
    }

{{/operation}}
{{/operations}}
}
