{{#models}}
{{#model}}
import { tags } from "typia";

export interface {{classname}} { {{#vars}}
    {{#description}}/** {{{description}}} */{{/description}}
    {{name}}{{^required}}?{{/required}}: {{{dataType}}}{{#pattern}} & tags.Pattern<"{{pattern}}">{{/pattern}}{{#minimum}} & tags.Minimum<{{minimum}}>{{/minimum}}{{#maximum}} & tags.Maximum<{{maximum}}>{{/maximum}}{{#minLength}} & tags.MinLength<{{minLength}}>{{/minLength}}{{#maxLength}} & tags.MaxLength<{{maxLength}}>{{/maxLength}}{{#isEmail}} & tags.Format<"email">{{/isEmail}}{{#isDate}} & tags.Format<"date">{{/isDate}}{{#isDateTime}} & tags.Format<"date-time">{{/isDateTime}};{{/vars}}
}
{{#vars}}
{{#isEnum}}
export type {{enumName}} = {{#allowableValues}}{{#values}}"{{.}}"{{^@last}} | {{/@last}}{{/values}}{{/allowableValues}};
{{/isEnum}}
{{/vars}}
{{/model}}
{{/models}}

